{% extends "frame.html" %}
{% block title %}Print{% endblock %}
{% block active %}print{% endblock %}
{% block main %}
  {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% for msg in messages %}
      <div class="alert alert-success">{{ msg }}</div>
    {% endfor %}
  {% endwith %}
  {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% for msg in messages %}
      <div class="alert alert-danger">{{ msg }}</div>
    {% endfor %}
  {% endwith %}
  <form id="print-form" action="/print" method="POST">
    <textarea name="content" class="form-control" rows="20" placeholder="Paste your code here..." autofocus></textarea>
    <input type="submit" class="btn btn-primary pull-right" value="Print">
  </form>
{% endblock %}
